@media (min-width: 1281px) {
     p {
          background-color: rgb(255, 220, 255);
     }

     #parent_div {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}

@media (min-width: 1025px) and (max-width: 1280px) {
     p {
          background-color: rgb(255, 232, 224);
     }

     #parent_div {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}

@media (min-width: 768px) and (max-width: 1024px) {
     p {
          background-color: rgb(221, 221, 255);
     }

     #parent_div {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
     }
}

@media (min-width: 481px) and (max-width: 767px) {
     p {
          background-color: rgb(219, 255, 219);
     }

     #parent_div {
          display: grid;
          grid-template-columns: 1fr 1fr;
     }
}

@media (min-width: 320px) and (max-width: 480px) {
     p {
          background-color: rgb(255, 162, 162);
     }

     #parent_div {
          display: grid;
          grid-template-columns: 1fr;
     }
}

* {
     margin: 0px;
     padding: 0px;
}

p {
     font-size: 1.5rem;
     padding: 20px;
     margin: 40px;
}

h1 {
     margin-bottom: 20px;
     margin-top: 20px;
}